.navbar-brand{
    max-width: 50%;
}

.imgLogo{
    max-width: 50%;
}

.border-bottom{
     border-bottom: 3px solid #d6d5d5 !important;    /*Borde navbar */
}


input[type="file"]{
    width: 0.1px;
    height: 0.1;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.imageUser{
    /* width: 120px; */
    max-width: 70%;
}

@media(min-width: 768px){
    .navbar-brand{
        max-width: 15%;
    }
}